footer{
   width : 90%;
   margin : 20px auto;
    display : flex;
    justify-content: space-around;
   flex-wrap:wrap;
   align-items: center;
   background-color: rgba(203,203,201,0.7);
   border-radius : 10px;
   padding : 0 10px;
}

footer img{
    margin-top : 5px;
    height : 50px;
}

#logofooter{
   height : 30px;    
}


@media all and (max-width: 600px){
    footer{
        
        margin-bottom: 30px;
    }
    footer img{
        margin-top : 5px;
        /* height : 27px; */
        padding-top:10px;
    }
    /* #logofooter{        
        width : 20%;
       
    } */
    
    .pFooter{
        font-size : 2vw;
    }

}